BasedOnStyle: LLVM
Language:        Cpp
IndentWidth:     4
UseTab:          Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit:     100
PointerAlignment: Left
SortIncludes:     true
IncludeBlocks:    Regroup
